
.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo-name {
  
}

.todo-completed {
  
}

.completed {
  background-color: #fff;
  color: #000;
}

.todo button {
  font-size: 1em;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 30px;
  padding: 0em 0.575em;

  background-color: #000;
  color: #fff;
  border-radius: 0.25em;
  border: none;
  cursor: pointer;
}